* {
    box-sizing: border-box;
  }
  

  body {
    font-family: "Open Sans",
    sans-serif; 
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
  }
  
  nav,
  footer {
    padding: 1% 0;
    background-color: rgb(95, 184, 236);
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  li {
      list-style-type:none;
      display: inline-block;
      margin-right: 100px;
  }
  
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: inline;
  }
  
  h1, h2 {
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    
  }
  
  header {
    padding: 12% 0;
    background-image: url("https://specs.adfox.ru/help/images/swiffiFlashHTML.png");
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  section {
    min-height: 200px;
    padding: 2% 0;
    background-color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    color: solid black;
  }
  
  section:nth-child(even) {
    background-color: rgb(210, 227, 247);
  }

  img {
      border-radius: 50%;
  }
  
  .contact {
    flex-direction: column;
    display: block;
  }

  #About-me {
    text-align: left;
  }

  .item {
    border: 1px solid black;
  }

  .title  {
    color: #989898;
  }

  .name {
    margin-right: 550px;
  }

  a:link {
    text-decoration: none;
    color: black;
  }

  a:visited {
    text-decoration: none;
    color: black;
  }

  .footer {
    margin-left: 100px;
  }
